body {
    background-color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 50px;
}

.image {
    border-radius: 5px;
    height: 400px;
}

.image:hover {
    transform: translateX(2em);
    transition: 1s ease;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    background-color: #8CB2E3;
    padding: 1rem;
   display: inline-block;
   transition: transform 0.1s ease;
}
/*Se cambia el color del button*/

.link-button:hover{
    transform: scale(1.1);
}
/* Se agrega hover al button */

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 14, 208);
}

/* Se agrega hover al encabezado */

#h1-titulo-id:hover {
    transform: translateX(2em);
    transition: 1s ease;
    color: red;
}